.card-container {
    display: flex; 
    flex-wrap: wrap;
    justify-content: flex-start; 
    align-items: flex-start; 
    width: 1200px;
    padding: 20px; 
    height: 550px;
    box-sizing: border-box;
    gap: 15px; 
}

.pokemon-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px; 
    height: 45%; 
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
}

.pokemon-card > img {
    display: block;
    height: 80%; 
    object-fit: contain; 
}
